<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div class="container jumbotron" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control"
             ng-model="items">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="showMessage()">Check If Too Much</button>
         </div>
         <div class="form-group message">
           <!-- Your message can go here. -->
           {{message}}
            <div ng-show="totalItems">The number of items are {{totalItems}}</div>
         </div>
   </div>
    <footer class="panel-footer">
      Note:  empty items like the following does not take into account
      <br>
      <ul class="list-group">
        <li class="list-group-item">',,'</li>
        <li class="list-group-item">', ,'</li>
      </ul>
       
    </footer>
</body> 
</html>